# Node modules
**/node_modules/

# Environment variables
**/.env
**/.env.local

# Build files
**/build/
**/dist/

# IDE files
.vscode/
.idea/

# Logs
**/logs/
**/*.log

# Dependency directories
**/.pnp/
**/.pnp.js

# Testing
**/coverage/

# Production
**/build/

# Misc
**/.DS_Store
